<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="../static/css/estilos.css">
</head>
<body>
    <form action="" method="get">
        <h1>Olá o que você quer pesquisar agora ?</h1>
        <input type="text" name="pesquisa" >
        <button type="submit">Enviar</button>
    </form>
    <h2> Você pesquisou:{{context["pesquisa"]}} </h2>
    <form action="" method="post">
        <h1>Digite sua pesquisa:</h1>
        <input type="text">
        <button type="submit">Enviar</button>
        

    </form>
    <hr>
    <h3>PREENCHA O FORMULÁRIO</h3>



    <form class="formulario" action="" method="post">
         <label>Nome:</label>
         <input type="text"name="nome"><hr>
         <label>Email:</label>
         <input type="email" email="email"><hr>
         <label>Assunto:</label>
         <input type="text" assunto="assunto"><hr>
         <label>Mensagem:</label>
         <input type="text" mensagem="mensagem"><hr> <button type="submit">ENVIAR</button><hr>
    </form>
    


</body>
</html>